/* import the modal style */
@import url('./modal.css');
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--def-color: #000;
	--color: #8fc866;
	--hover: #66c887;
}

body { 
	background-color: #fff;
	color: #000;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	margin: 0px;
	padding: 0px;
	text-align: center;
}

canvas {
	margin: 0 auto;
}

#main {
	display: grid;
	grid-template-columns: 0.4fr 1fr;
}

#info {
	float: left;
	border-right: 2px solid #000;
}

#info > p {
	word-spacing: 0.3em;
}

.dark-mode {
	background-color: #0000007e;
	color: #fff;
}

.btn {
	background: none;
	color: var(--color);
	border: 3px solid var(--color);
	cursor: pointer;
	font-size: 12px;
	margin: 1em 2.25em;
	padding: 0.4em;
	text-align: center;
	width: 80%;
	border-radius: 10px;
	transition: 0.5s;
	will-change: transform;
}

.btn:hover,
.btn:focus {
	border-color: var(--hover);
	color: var(--def-color);
	box-shadow: inset 0 0 0 2em var(--hover);
}

.choice {
	background: #68efa89c;
	text-align: justify;
	margin-top: 1em;
	padding: 10px;
}

.choice > *::before {
	content: "> ";
	color: #000;
}

.choice > *{
	cursor: pointer;
	font-size: large;
	/* background-color: darkmagenta; */
}

.instructions {
	font-size: 1.1rem;
	transition: all 0.5s ease;
	color: rgb(64, 116, 77);
}

.instructions:hover {
	color: rgb(62, 131, 68);
	font-size: 1.7rem;
}

h1:first-of-type {
	font-size: 20px;
	padding-left: 11em;
	/* background-color: darksalmon; */
	font-family: Comic Sans MS, cursive;
}
