* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body { 
	background-color: #fff;
	color: #000;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	margin: 0px;
	padding: 0px;
	text-align: center;
}

#main {
	display: grid;
	grid-template-columns: 0.4fr 1fr;
}

#info {
	float: left;
	border-right: 2px solid #000;
}

#info > p {
	word-spacing: 0.3em;
}

.instructions {
	font-size: 1.1rem;
	transition: all 0.5s ease;
	color: rgb(64, 116, 77);
}

.instructions:hover {
	color: rgb(62, 131, 68);
	font-size: 1.7rem;
}

h1:first-of-type {
	font-size: 20px;
	padding-left: 11em;
	/* background-color: darksalmon; */
	font-family: Comic Sans MS, cursive;
}

canvas {
	margin: 0 auto;
}