:root{
	--def-height: 5%;
}

body {
	overflow: hidden;
}

nav {
	width: 100%;
	margin-top: -3px;
	display: grid;
	grid-template-columns: 1fr 5fr 1fr;
	justify-content: space-between;
	align-items: center;
	-webkit-app-region: drag;
	background-color: rgb(246, 247, 247);
}

.winTitle {
	font-size: small;
	font-family: 'Montserrat', sans-serif;
	text-align: center;
}

.right-nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    align-self: stretch;
    overflow: hidden;
}

.navLink {
	padding: 0 1rem;
	text-decoration: none;
	font-size: 1.2rem;
	font-family: 'Montserrat', sans-serif;
	font-weight: lighter;
	-webkit-app-region: no-drag;
	background-clip: border-box;
}

.minimize {
	font-weight: 900;
	/* height: 100%; */
}

.close:hover {
	background-color: red;
}

.minimize:hover {
	background-color: #5b5d5bae;
}